{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section class="container-fluid vh-100 d-flex align-items-center">
        <div class="row w-100">
            <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger mt-3">
                            {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3 mt-3">
                            Vous êtes déjà connecté comme {{ app.user.userIdentifier }},
                            <a href="{{ path('app_logout') }}" class="btn btn-secondary">Me déconnecter</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 mt-3 font-weight-normal">Me connecter</h1>
                    <label for="inputEmail" class="mt-2">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                           class="form-control" autocomplete="email" required autofocus>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}

                    <button class="btn btn-lg btn-primary mt-3" type="submit">
                        Me connecter
                    </button>
                    <a href="/reset-password" class="back-button text-decoration-none mt-3 d-block">
                        Mot de passe oublié</a>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </form>
            </div>
            <div class="col-lg-6 d-none d-lg-block vh-100 position-relative">
                <img src="{{ asset('build/images/logo3.png') }}" alt=""
                     class="img-fluid w-60 h-60 position-absolute top-50 start-50 translate-middle">
            </div>
        </div>
    </section>
{% endblock %}
