<nav class="navbar bg-primary ">
    {% if app.user %}
        <a href="/home">
            <img class="ms-4" src="{{ asset('build/images/emmaus_connect_logo2.png') }}" alt="Logo d'Emmaus connect">
        </a>
        <a class="logout-phone" href={{ path('app_logout') }}><i class="h1 bi-box-arrow-left text-white"></i></a>

    {% else %}
        <a href="/">
            <img class="ms-4" src="{{ asset('build/images/emmaus_connect_logo2.png') }}" alt="Logo d'Emmaus connect">
        </a>
    {% endif %}

    <div class="mx-4">
        {% if app.user %}

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('index') }}"><i class="h1 bi bi-pencil-square text-white"></i></a>
            {% endif %}

            <a href="{{ path('app_estimate') }}"><i class="h1 bi mx-5 bi-plus-lg text-white"></i></a>
            <a href="{{ path('app_catalog') }}"><i class=" h1 bi bi-search text-white"></i></a>
            <a href="{{ path('app_home') }}"><i class="h1 mx-5 bi bi-house text-white"></i></a>
            <a href={{ path('app_logout') }}><i class="h1 bi-box-arrow-left text-white"></i></a>

        {% endif %}
    </div>

</nav>
