{% extends 'admin/base.html.twig' %}

{% block title %}Listes des utilisateurs{% endblock %}

{% block body %}
    <h1>Listes des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <button class="btn btn-dark">
                        <a href="{{ path('app_admin_user_show', {'id': user.id}) }}">Voir</a>
                    </button>
                    <button class="btn btn-warning mt-2">
                        <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Modifier</a>
                    </button>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-success"><a href="{{ path('app_admin_user_new') }}" class="text-decoration-none text-white">Créer un nouveau utilisateur</a></button>

{% endblock %}
